module.exports = {
  // 为过长的remarks添加“双击查看”
  cutRemarks: function (remarks, content) {
    var newRemarks = [];
    if (remarks) {
      // 内容头长也要计入数量
      var count = (Math.ceil(content.length / 10) - 1) * 35;
      // console.log(count)
      for (var i = 0; i < remarks.length; i++) {
        var remark = remarks[i];
        if (count + remark.length < 150) {
          newRemarks.push(remark);
          count += remark.length;
        } else {
          newRemarks.push(remark.substring(0, 150 - count) + '...【双击查看完整词条】');
          break;
        }
      }
    }
    return newRemarks;
  }
}